<!DOCTYPE html>
<html>
  <head>
    <title>University Forum</title>
    <link rel="stylesheet" type="text/css" href="./stylesheets/index_.css" />
  </head>
  <body id="index_body">
    <header>
      <h1>Welcome to University Forum</h1>
      <img src="./images/logo.png" alt="University Logo" />
    </header>

    <main>
      <button onclick="redirectToLogin()">Login</button>
    </main>

    <script>
      function redirectToLogin() {
        window.location.href = "/auth/login";
      }
    </script>
  </body>
</html>
