<!-- login.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="../stylesheets/login.css" />
  </head>
  <body id="login_body">
    <div class="container">
      <h1>Login</h1>
      <% if (locals.error) { %>
      <div class="error-popup">
        <p><%= locals.error %></p>
      </div>
      <% } %>
      <form action="/auth/login" method="POST">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" required />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required />
        </div>
        <button type="submit">Login</button>
      </form>
      <p class="register-link">
        Don't have a profile yet? <a href="/auth/register">Register</a>
      </p>
    </div>
  </body>
</html>
